<event>
    <div class="event-header">
        <span class="event-number">#{{ .Params.number }}</span>
        (<span class="event-date">{{- dateFormat "2006-01-02" .Params.date -}}</span>)
    </div>
    <div class="event-speakers"> {{ .Params.speakers }} </div>
    <div class="event-title">
        <a href="{{ .RelPermalink }}"> {{ .Params.title }} </a>
        {{ if (in .Params.lang "pl") }}
            <img class="lang-icon" src="/assets/flag-pl.svg" />
        {{ end }}
        {{ if (in .Params.lang "en") }}
            <img class="lang-icon" src="/assets/flag-uk.svg" />
        {{ end }}
        {{ with .Params.videoURL }}
            <a href="{{.}}" target="_blank"><img class="YT-icon-small" src="/assets/YT-red.svg"></a> 
        {{ else }}
            <img class="YT-icon-small" src="/assets/YT-gray.svg">
        {{ end }}
        {{ with .Params.slidesURL }}
        <a href="{{ path.Join $.Dir . | absURL}}">
            <img class="slides-icon-small" src="/assets/slides.svg">
        </a>
    {{ end }}
    </div>
</event>
