<footer>
    <h3> Contact: </h3>
    <p>
        <a href="http://twitter.com/agilewarsaw">Twitter</a>
        |  
        <a href="https://www.youtube.com/agilewarsaw">YouTube</a>
        |
        <a href="https://groups.google.com/forum/#!forum/agile-warsaw">discussion group</a>
        |
        <a href="http://www.meetup.com/AgileWarsaw/">Meetings on Meetup</a>
    </p>
    <h3>The org team (sorted by their length of service):</h3>
    <div id="team">
        <ul class="team">
            <li class="team-member">
                <h4>Mateusz Srebrny</h4>
                <img src="/images/team-MS.jpg" alt="">
            </li>
            <li class="team-member">
                <h4>Łukasz Szóstek</h4>
                <img src="/images/team-LS.jpg" alt="">
                <a target="_blank" href="https://twitter.com/thels6">@thels6</a>
            </li>
            <li class="team-member">
                <h4>Paweł Polewicz</h4>
                <img src="/images/team-PP.jpg" alt="">
            </li>
            <li class="team-member">
                <h4>Ewa Koprowska</h4>
                <img src="/images/team-EK.jpg" alt="">
            </li>
            <li class="team-member">
                <h4>Magda Walczak</h4>
                <img src="/images/team-MW.jpg" alt="">
            </li>
            <li class="team-member">
                <h4>Piotr Radaj</h4>
                <img src="/images/team-PR.jpg" alt="">
            </li>
            <li class="team-member">
                <h4>Ania Przybyszewska</h4>
                <img src="/images/team-AP.jpg" alt="">
            </li>
            <li class="team-member">
                <h4>Łukasz Przezorski</h4>
                <img src="/images/team-LP.jpg" alt="">
            </li>
        </ul>
    </div>
</footer>