    <nav id="main-menu">
        <ul>
            {{ range .Site.Menus.main }}
            <li>
                {{ if .HasChildren }}
                <a href="#">{{ .Name }}</a>
                <ul>
                    {{ range .Children }}
                    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                    {{ end }}
                </ul>
                {{ else }}
                <a href="{{ .URL }}">{{ .Name }}</a>
                {{ end  }}
            </li>
            {{ end }}
        </ul>
    </nav>