<div id="sponsors-container" class="content-container">
    <h1>Sponsorują nas:</h1>
    <div id="sponsors">
        <ul class="sponsors">

            <li class="sponsor">
                <h4>Agile By Example</h4>
                <p>sponsor Meetupa</p>
                <a target="_blank" href="https://agilebyexample.com/">
                    <img src="/images/logo-abe.jpg" alt="PKO B.P.">
                </a>
            </li>

<!--            <li class="sponsor">
                <h4>PKO Bank Polski</h4>
                <p>gospodarz spotkań</p>
                <a target="_blank" href="https://www.linkedin.com/company/pko-bp/">
                    <img src="/images/logo-pko-bp.svg" alt="PKO B.P.">
                </a>
            </li>
-->
            <li class="sponsor">
                <h4>QAgile</h4>
                <p>sponsor nagrań</p>
                <a target="_blank" href="https://qagile.pl">
                    <img src="/images/logo-qagile.png" alt="QAgile">
                </a>
            </li>
            
            <li class="sponsor">
                <h4>Łukasz Szóstek</h4>
                <p>robi stream</p>
                <a target="_blank" href="https://value-based-decisions.com">
                    <img src="/images/logo-ls6.svg" alt="Łukasz Szóstek">
                </a>
            </li>
            
            <li class="sponsor">
                <h4>Code Sprinters</h4>
                <p>zapewnia Zoom-a na zdalne spotkania</p>
                <a target="_blank" href="https://codesprinters.pl">
                    <img src="/images/logo-codesprinters.png" alt="Code Sprinters">
                </a>
            </li>

            <li class="sponsor">
                <h4>Reef Technologies</h4>
                <p>zapewnia Zoom-a na zdalne spotkania</p>
                <a target="_blank" href="https://reef.pl/">
                    <img src="/images/logo-reef.png" alt="Reef Technologies">
                </a>
            </li>

            <li class="sponsor">
                <h4>Slido</h4>
                <p>Q&A</p>
                <a target="_blank" href="https://slido.com">
                    <img src="/images/logo-slido.png" alt="Slido">
                </a>
            </li>
            
        </ul>
    </div>
</div>
