{{ define "main" }}

<div id="main-content" class="content">
    <div id="aside" class="content-container">
        {{ with .Site.GetPage "/aside.md" }}
        {{ .Content }}
        {{ end }}
        
    </div>
    <div id="past-events" class="content-container events">
        <h1>Nasze spotkania:</h1>
        <div id="past-events-list" class="event-list">
            {{ range first 4 (where .Data.Pages "Section" "events") }}
            {{ partial "event-summary.html" . }}
            {{ end }}
        </div>
        <a href="/events">Wszystkie spotkania</a>
    </div>
    {{ partial "sponsors.html" . }}
</div>

{{ end }}