{{ define "main" }}

<div class="content">
    <div id="aside">
        {{ with .Site.GetPage "/aside.md" }}
        {{ .Content }}
        {{ end }}
        
    </div>
    <div class="events">
        <h1>Nasze ostatnie spotkania:</h1>
        <div class="event-list">
            {{ range first 4 (where .Data.Pages "Section" "events") }}
            {{ partial "event-summary.html" . }}
            {{ end }}
        </div>
        <a href="/events">Wszystkie spotkania</a>
    </div>
</div>

{{ end }}