<h2 class="section-title">{{ .titles.about }}</h2>

<p itemprop="description">I am a smaller, younger, thinner and lighter sister of the <a href="https://agilebyexample.com/">AgileByExample</a> conference. You are most welcome to half a day of presentations and workshops on a fine Saturday afternoon which will finish with a great afterparty.</p>

<!-- <p>W tym roku trafił nam się wyjątkowy zestaw tematów. Mało będzie o tym, o czym zwykle mówi się w kontekście agile — będziemy eksplorować jego granice!</p> -->
