<h2 class="section-title">{{ .titles.about }}</h2>

<p itemprop="description">Jesteśmy młodszą, wiosenną, szczuplejszą siostrą konferencji AgileByExample. Tradycyjnie w sobotę po południu mamy pół dnia prezentacji i warsztatów zakończonych networkingiem przy piwie.</p>

<p>W tym roku trafił nam się wyjątkowy zestaw tematów. Mało będzie o tym, o czym zwykle mówi się w kontekście agile — będziemy eksplorować jego granice!</p>

<p>Zapraszamy serdecznie, będzie to zupełnie wyjątkowe pół dnia… i wieczór networkingowy też.</p>
