{{ define "main" }}
<div class="content">
    <div class="event-info-full">
        <h1>#{{ .Params.number }} {{ .Params.title }} </h1>
        <h3>{{ dateFormat "2006-01-02" .Params.date }}</h3>
        <h2>{{ .Params.speakers}}</h2>
        {{ if (.Page.Resources.GetMatch "hero.jpg") }}
            <img class="hero-image"src="{{ (.Page.Resources.GetMatch "hero.jpg").RelPermalink }}" />
        {{ end }}
        <p> {{ .Content }}</p>
        {{ with .Params.videoURL }}
            <p><a href="{{ . }}" target="_blank"><img class="YT-icon" src="/assets/YT-red.svg">Video recording</a></p>
        {{ else }}
            <p><img class="YT-icon" src="/assets/YT-gray.svg">No video recording</p>
        {{ end }}
        <!-- <p>Sponsor: {{ .Params.sponsors }}</p> -->
    </div>
</div>
{{ end }}